footer{
    background: url('../images/footer_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .container{
        padding: 8em 0 12em;
    }

    h3{
        @include textStyle($color-white,1.55rem,$fw-7,1.2);
        margin-bottom: 2rem;
    }
    
    a{
        color: $color-white;
        text-decoration: none;
        transition: .5s;
    }

    .social{
        a{
            padding-right: 15px;
            text-decoration: none;
        }
    }

    li{
        list-style: none;
        @include textStyle($color-white,0.9rem,$fw-4,1.1);
        margin-bottom: 1em;
        font-family: $font-secondary;
    }

    .col-3{
        &:nth-child(1){
            a{
                &:hover{
                    color: $color-black-1;
                    text-decoration: none;
                    transition: .5s;
                }
            }
        }
        &:nth-child(2),&:nth-child(3){
            li{
                border-bottom: 1px solid rgba(0,0,0,.1);
                line-height: 1;
                padding-bottom: 0.8em;
                a{
                    &:hover{
                        color: $color-white;
                        opacity: 0.8;
                        text-decoration: none;
                        transition: .5s;
                    }
                }
            }
        }
    }

    form{
        input{
            width:100%;
            text-align: center;
            &[type="email"]{
                @include input(transparent,50px,1px solid rgba(255,255,255,.1),10px 0,0 0 4px 0 rgba(0 ,0, 0 ,0.1) ,1px solid rgba(255,255,255,1));
                margin-bottom: 1em;
                &::placeholder{
                    color: $color-white;
                    font-family: $font-secondary;
                }
            }
            &[type="submit"]{
                @include button($color-white,10px 0,none,50px);
                @include textStyle($color-black-1,.8em,$fw-6);
                height: 4em;
            }
        }
    }
}