$color-main: #b61960;
$color-pink: #b61984;
$color-purple: #dcd1f0;

$color-black-1: #181818;
$color-black-2: #191919;

$color-white: #fff;

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

$fs-15: 15px;
$fs-20: 20px;
$fs-57: 57px;

$box-shadow-1: 0 30px 30px -10px rgba(0,0,0,0.2);
$box-shadow-2: 0 0 4px 0 rgba(0,0,0,0.1);